@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto&family=Yaldevi:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #472836;
  font-family: "Oswald", sans-serif;
  background-color: #feffbe;
  display: grid;
  margin: 3rem;
}
main {
  display: grid;
  background-color: #9ad2cb;
  padding: 10 rem;
  margin: 200 rem;
  grid-template-rows: 1fr 1fr 1fr;
}
.firstbox {
  display: grid;
  background-color: #ebd494;
  grid-template-columns: 50% 50%;
}
h1 {
  font-weight: bolder;
  text-align: center;
}
.subhead {
  text-align: left;
  font-size: 1rem;
}
h2 {
  font-weight: bolder;
}
.block1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #d7ebba;
  place-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.block2 {
  place-items: bottom;
  padding-bottom: 0px;
}

.block2 img {
  display: grid;
  width: 90%;
  place-items: center;
}
#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: row;
  background-color: #ebd494;
  grid-gap: 1.5em;
  padding: 0 40px;
}
#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Open Sans", sans-serif;
}
