@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto&family=Yaldevi:wght@700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: #472836;
  font-family: "Oswald", sans-serif;
  background-color: #feffbe;
  display: grid;
  margin: 3rem;
}
main {
  display: grid;
  background-color: #9ad2cb;
  padding: 10 rem;
  margin: 200 rem;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.firstbox {
  display: grid;
  background-color: #ebd494;
  grid-template-columns: 50% 50%;
}

.subhead {
  text-align: left;
  font-size: 25px;
  line-height: 4px;
}
h2 {
  font-weight: bolder;
  font-size: 50px;
  text-align: left;
  line-height: 50px;
}
p {
  font-size: 30px;
  text-align: left;
}

.block1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #d7ebba;
  place-items: center;
  padding: 20px;
  font-size: 3rem;
  font-weight: bolder;
  text-align: center;
  align-items: start;
  height: 800px;
}
.headline {
  display: grid;
  line-height: 1px;
  align-content: start;
  height: 5px;
  margin: 10px;
}
.block1.intro {
  text-align: left;
  height: 50px;
  align-content: start;
  height: 50px;
}
.intro {
  line-height: 40px;
}
.block2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  padding-bottom: 0px;
  height: 800px;
}

#image {
  display: grid;
  width: 500px;
  height: 700px;
}

#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: row;
  background-color: #ebd494;
  grid-gap: 1.5em;
  padding: 0 40px;
  grid-row: row-end;
}
#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Open Sans", sans-serif;
}
.secondbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: whitesmoke;
  background-color: #472836;
  height: 10rem;
  align-content: center;
  padding: 20px;
  width: 100%;
}
#slogan {
  display: grid;
  text-align: left;
  font-size: 40px;
  align-content: center;
}
#slogantext {
  display: grid;
  text-align: left;
  font-size: 15px;
  align-content: center;
  padding: 20px;
}
